* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #666;
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 100%; /* only for demonstration, should be removed */
    background: #fff;
    padding: 10px;
}

/* Style the list inside the menu */
nav ul {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    height: 100%; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 0px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

h2.main_title {
    margin: 10px 10px 10px 10px;
}

.left_menu {
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
}

.left_menu a:link {
    text-decoration: none;
    color: #535252;
}

.left_menu a:visited {
    text-decoration: none;
    color: #535252;
}

.left_menu a:hover {
    text-decoration: underline;
}

.left_menu a:active {
    text-decoration: underline;
}

.left_menu li {
    color: #535252;
    margin-top : 3px;
    margin-bottom : 3px;
}

.left_menu li li {
    display : none;
}